.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-label {
    display: inline-flex;
    flex-direction: column;
    margin: 1rem 1.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    justify-content: flex-start;
    align-self: flex-start;
    border-bottom: solid #282c34 0.1rem;
}


.form-submit {
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border-radius: 10%;
    text-align: center;
    border: solid antiquewhite;
    color: #4e61ff;
    background-color: aliceblue;
    cursor: pointer;
    position: relative;
    margin: 3rem auto;
    width: 90px;
    height: 40px;
    align-content: center;
    align-items: center;
}

.btn-delete {
    display: inline-flex;
    color: #ff4f5a;
    border: solid #ff3f5b;
    margin: auto 0.5rem;
}
.btn-edit {
    display: inline-flex;
    color: #7086ff;
    border: solid #84ff8c;
    margin: inherit 0.5rem;
    align-items: center;
    align-content: center;
    align-self: center;
}

.wrapper {
    margin: auto;
    border-bottom: solid #282c34;
    max-width: 600px;
    max-height: 1000px;
}

.image-preview {
    max-width: 400px;
    margin-bottom: 0.5rem;
}

.article-box {
    margin-bottom: 3rem;
    border-bottom: solid #c8c8ff;
}